blockquote:after {
    position: relative;
    content: '\f10e' !important;
    font-size: 1rem;
    float: right;
    top: -1rem;
    margin-right:-10px;
    color: red;
    font-family: FontAwesome;
}
blockquote:before {
    position: relative;
    content: "\f10d" !important;
    font-size: 1rem;
    left: 0;
    margin-left:-1em;
    color: red;
    font-family: FontAwesome;
}
.markdown-body blockquote
{
    margin-left:1em;margin-right:1em;padding:.25em 1em;color:#666;
}
blockquote {
    margin: 1em 0;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    border-left: 5px solid #42b983;
    border-right: 5px solid #42b983;
    padding: 0.2rem 0.4rem 1rem 0.8rem;
    color: #666;
    background-color: rgba(66, 185, 131, .1);
}
.botui-container {
    font-size:14px;
    background-color:rgba(255,255,255,0)
}
.botui-messages-container {
    padding:10px 20px
}
.botui-actions-container {
    padding:10px 20px
}
.botui-message {
    min-height:30px
}
.botui-message-content {
    padding:7px 13px;
    border-radius:15px;
    color:#595a5a;
    background-color:#ebebeb
}
.botui-message-content.human {
    color:#f7f8f8;
    background-color:#919292
}
.botui-message-content.text {
    line-height:1.3
}
.botui-message-content.loading {
    background-color:rgba(206,206,206,.5);
    line-height:1.3;
    text-align:center
}
.botui-message-content.embed {
    padding:5px;
    border-radius:5px
}
.botui-message-content-link {
    color:#919292
}
.botui-actions-text-input {
    border:0;
    outline:0;
    border-radius:0;
    padding:5px 7px;
    background-color:transparent;
    color:#595a5a;
    border-bottom:1px solid #919292
}
.botui-actions-text-submit {
    color:#fff;
    width:30px;
    padding:5px;
    height:30px;
    line-height:1;
    border-radius:50%;
    border:1px solid #919292;
    background:#777979
}
.botui-actions-buttons-button {
    border:0;
    color:#fff;
    line-height:1;
    cursor:url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/No_Disponible.cur),auto;
    font-size:14px;
    font-weight:500;
    padding:7px 15px;
    border-radius:4px;
    background:#777979;
    box-shadow:2px 3px 4px 0 rgba(0,0,0,.25)
}
.poptitle {
    width:100%;
    height:100%;
    line-height:3;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background-color:rgba(255,255,255,.7)
}
@media(min-width:400px) {
    .poptitle {
    width:400px;
    height:100%;
    margin:0 auto;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    background-color:rgba(255,255,255,.7)
}
}.popfooter {
    width:100%;
    height:100%;
    line-height:1;
    background-color:rgba(255,255,255,.7)
}
@media(min-width:400px) {
    .popfooter {
    width:400px;
    height:100%;
    margin:0 auto;
    background-color:rgba(255,255,255,.7)
}
}.popcontainer {
    width:100%;
    height:100%;
    line-height:1
}
@media(min-width:400px) {
    .popcontainer {
    height:100%;
    margin:0 auto
}
}.popcontainer h4:before {
    content:" ";
    margin-right:0;
    color:#ff6d6d
}
.popcontainer h4:after {
    content:" ";
    left:0;
    position:absolute;
    color:#ff6d6d
}
.slide-fade-enter-active {
    transition:all .3s ease
}
.slide-fade-enter,.slide-fade-leave-to {
    opacity:0;
    transform:translateX(-10px)
}
.dot {
    width:.5rem;
    height:.5rem;
    border-radius:.5rem;
    display:inline-block;
    background-color:#919292
}
.dot:nth-last-child(1) {
    margin-left:.3rem;
    animation:loading .6s .3s linear infinite
}
.dot:nth-last-child(2) {
    margin-left:.3rem;
    animation:loading .6s .2s linear infinite
}
.dot:nth-last-child(3) {
    animation:loading .6s .1s linear infinite
}
@keyframes loading {
    0% {
    transform:translate(0,0);
    background-color:#ababab
}
25% {
    transform:translate(0,-3px)
}
50% {
    transform:translate(0,0);
    background-color:#ababab
}
75% {
    transform:translate(0,3px)
}
100% {
    transform:translate(0,0)
}
}a.botui-message-content-link:focus {
    outline:thin dotted
}
a.botui-message-content-link:focus:active,a.botui-message-content-link:focus:hover {
    outline:0
}
form.botui-actions-text {
    margin:0
}
button.botui-actions-buttons-button,input.botui-actions-text-input {
    margin:0;
    font-size:100%;
    line-height:normal;
    vertical-align:baseline
}
button.botui-actions-buttons-button::-moz-focus-inner,input.botui-actions-text-input::-moz-focus-inner {
    border:0;
    padding:0
}
button.botui-actions-buttons-button {
    cursor:url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/No_Disponible.cur),auto;
    -webkit-appearance:button
}
.botui-app-container {
    width:100%;
    height:100%;
    line-height:1
}
@media(min-width:400px) {
    .botui-app-container {
    width:400px;
    height:500px;
    margin:0 auto
}
}.botui-container {
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden
}
.botui-message {
    margin:10px 0;
    min-height:20px
}
.botui-message-content {
    width:auto;
    max-width:85%;
    display:inline-block
}
.botui-message-content.human {
    float:right;
    margin-bottom:12.2px
}
.botui-message-content iframe {
    width:100%
}
.botui-message-content-image {
    margin:5px 0;
    display:block;
    max-width:200px;
    max-height:200px
}
.botui-message-content-link {
    text-decoration:underline
}
.botui-actions-buttons-button+.botui-actions-buttons-button {
    margin-left:10px
}
@media(min-width:400px) {
    .botui-actions-text-submit {
    display:none
}
}.load-button {
    width:200px;
    height:60px;
    margin:auto;
    cursor:pointer;
    perspective:500px;
    -webkit-perspective:500px
}
.load-button div {
    height:100%;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transition:.25s;
    -webkit-transition:.25s
}
.load-button:hover div {
    transform:rotateX(-90deg)
}
.load-button span {
    width:100%;
    height:100%;
    position:absolute;
    box-sizing:border-box;
    border:5px solid #d34836;
    line-height:50px;
    font-size:17pt;
    text-align:center;
    text-transform:uppercase
}
.load-button span:nth-child(1) {
    color:#d34836;
    transform:translate3d(0,0,30px);
    -webkit-transform:translate3d(0,0,30px)
}
.load-button span:nth-child(2) {
    color:white;
    background:#d34836;
    transform:rotateX(90deg) translate3d(0,0,30px);
    -webkit-transform:rotateX(90deg) translate3d(0,0,30px)
}
.logolink a {
    color:#464646;
    float:left;
    font-size:20px;
    font-weight:800;
    height:56px;
    line-height:56px;
    padding-left:35px;
    padding-right:15px;
    padding-top:11px;
    text-decoration-line:none
}
.logolink .sakurasono {
    background-color:rgba(255,255,255,.5);
    border-radius:5px;
    color:#464646;
    height:auto;
    line-height:25px;
    margin-right:0;
    padding-bottom:0;
    padding-top:1px;
    text-size-adjust:100%;
    width:auto
}
.logolink a:hover .sakurasono {
    background-color:orange;
    color:#fff
}
.logolink a:hover .shironeko,.logolink a:hover rt {
    color:orange
}
.logolink.moe-mashiro a {
    color:#464646;
    float:left;
    font-size:28px;
    font-weight:800;
    height:56px;
    line-height:56px;
    padding-left:6px;
    padding-right:15px;
    padding-top:11px;
    text-decoration-line:none
}
.logolink.moe-mashiro .sakurasono {
    font-size:25px;
    border-radius:9px;
    padding-bottom:2px;
    padding-top:5px
}
.logolink.moe-mashiro .shironeko {
    margin-left:-5px
}
.forgetmenot input[type=checkbox] {
    border:1px solid #b4b9be;
    background:#fff;
    color:#555;
    clear:none;
    cursor:pointer;
    display:inline-block;
    line-height:0;
    height:16px;
    margin:-4px 4px 0 0;
    outline:0;
    padding:0 !important;
    text-align:center;
    vertical-align:middle;
    width:16px;
    min-width:16px;
    -webkit-appearance:none;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition:.05s border-color ease-in-out;
    transition:.05s border-color ease-in-out
}
.forgetmenot input[type=checkbox]:checked:before {
    content:"✔";
    margin:-3px 0 0 -4px;
    color:#1e8cbe
}
.forgetmenot input[type=checkbox]:checked:before,input[type=radio]:checked:before {
    float:left;
    display:inline-block;
    vertical-align:middle;
    width:16px;
    font:400 21px/1 dashicons;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.forgetmenot input[type=checkbox]:checked:before {
    content:"✔";
    margin:-3px 0 0 -4px;
    color:#1e8cbe
}
.forgetmenot input[type=checkbox]:checked:before,input[type=radio]:checked:before {
    float:left;
    display:inline-block;
    vertical-align:middle;
    width:16px;
    font:400 21px/1 dashicons;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.prpr {
    position:fixed;
    bottom:0;
    left:0;
    z-index:99;
    font-size:0;
    transition:all .3s ease-in-out;
    -webkit-transform:translateY(3px);
    transform:translateY(3px);
    cursor:grab;
    user-select:none
}
.prpr:hover {
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
.prpr:active {
    cursor:grabbing
}
@media(max-width:860px) {
    .prpr {
    transform:scale(0.8) translate(-30px,31px)
}
.prpr:hover {
    -webkit-transform:scale(0.8) translate(-30px,31px);
    transform:scale(0.8) translate(-30px,31px)
}
}@media(max-width:560px) {
    .prpr {
    transform:scale(0.5) translate(-150px,125px)
}
.prpr:hover {
    -webkit-transform:scale(0.5) translate(-150px,125px);
    transform:scale(0.5) translate(-150px,125px)
}
}.prpr #live2d {
    position:relative;
    z-index:99
}
.mashiro-tips {
    opacity:0;
    width:250px;
    height:auto;
    min-height:70px;
    margin:-20px 20px;
    padding:5px 10px;
    border-radius:12px;
    box-sizing:border-box;
    box-shadow:0 0 2px 0 rgba(0,0,0,.12),0px 2px 2px 0 rgba(0,0,0,.24);
    transition:box-shadow .2s ease;
    background:#fff;
    color:#212121;
    font-size:12px;
    text-overflow:ellipsis;
    overflow:hidden;
    position:absolute;
    animation-delay:5s;
    animation-duration:50s;
    animation-iteration-count:infinite;
    animation-name:shake;
    animation-timing-function:ease-in-out
}
@keyframes shake {
    2% {
    transform:translate(.5px,-1.5px) rotate(-.5deg)
}
4% {
    transform:translate(.5px,1.5px) rotate(1.5deg)
}
6% {
    transform:translate(1.5px,1.5px) rotate(1.5deg)
}
8% {
    transform:translate(2.5px,1.5px) rotate(.5deg)
}
10% {
    transform:translate(.5px,2.5px) rotate(.5deg)
}
12% {
    transform:translate(1.5px,1.5px) rotate(.5deg)
}
14% {
    transform:translate(.5px,.5px) rotate(.5deg)
}
16% {
    transform:translate(-1.5px,-.5px) rotate(1.5deg)
}
18% {
    transform:translate(.5px,.5px) rotate(1.5deg)
}
20% {
    transform:translate(2.5px,2.5px) rotate(1.5deg)
}
22% {
    transform:translate(.5px,-1.5px) rotate(1.5deg)
}
24% {
    transform:translate(-1.5px,1.5px) rotate(-.5deg)
}
26% {
    transform:translate(1.5px,.5px) rotate(1.5deg)
}
28% {
    transform:translate(-.5px,-.5px) rotate(-.5deg)
}
30% {
    transform:translate(1.5px,-.5px) rotate(-.5deg)
}
32% {
    transform:translate(2.5px,-1.5px) rotate(1.5deg)
}
34% {
    transform:translate(2.5px,2.5px) rotate(-.5deg)
}
36% {
    transform:translate(.5px,-1.5px) rotate(.5deg)
}
38% {
    transform:translate(2.5px,-.5px) rotate(-.5deg)
}
40% {
    transform:translate(-.5px,2.5px) rotate(.5deg)
}
42% {
    transform:translate(-1.5px,2.5px) rotate(.5deg)
}
44% {
    transform:translate(-1.5px,1.5px) rotate(.5deg)
}
46% {
    transform:translate(1.5px,-.5px) rotate(-.5deg)
}
48% {
    transform:translate(2.5px,-.5px) rotate(.5deg)
}
50% {
    transform:translate(-1.5px,1.5px) rotate(.5deg)
}
52% {
    transform:translate(-.5px,1.5px) rotate(.5deg)
}
54% {
    transform:translate(-1.5px,1.5px) rotate(.5deg)
}
56% {
    transform:translate(.5px,2.5px) rotate(1.5deg)
}
58% {
    transform:translate(2.5px,2.5px) rotate(.5deg)
}
60% {
    transform:translate(2.5px,-1.5px) rotate(1.5deg)
}
62% {
    transform:translate(-1.5px,.5px) rotate(1.5deg)
}
64% {
    transform:translate(-1.5px,1.5px) rotate(1.5deg)
}
66% {
    transform:translate(.5px,2.5px) rotate(1.5deg)
}
68% {
    transform:translate(2.5px,-1.5px) rotate(1.5deg)
}
70% {
    transform:translate(2.5px,2.5px) rotate(.5deg)
}
72% {
    transform:translate(-.5px,-1.5px) rotate(1.5deg)
}
74% {
    transform:translate(-1.5px,2.5px) rotate(1.5deg)
}
76% {
    transform:translate(-1.5px,2.5px) rotate(1.5deg)
}
78% {
    transform:translate(-1.5px,2.5px) rotate(.5deg)
}
80% {
    transform:translate(-1.5px,.5px) rotate(-.5deg)
}
82% {
    transform:translate(-1.5px,.5px) rotate(-.5deg)
}
84% {
    transform:translate(-.5px,.5px) rotate(1.5deg)
}
86% {
    transform:translate(2.5px,1.5px) rotate(.5deg)
}
88% {
    transform:translate(-1.5px,.5px) rotate(1.5deg)
}
90% {
    transform:translate(-1.5px,-.5px) rotate(-.5deg)
}
92% {
    transform:translate(-1.5px,-1.5px) rotate(1.5deg)
}
94% {
    transform:translate(.5px,.5px) rotate(-.5deg)
}
96% {
    transform:translate(2.5px,-.5px) rotate(-.5deg)
}
98% {
    transform:translate(-1.5px,-1.5px) rotate(-.5deg)
}
0%,100% {
    transform:translate(0,0) rotate(0)
}
}.live2d-tool {
    position:fixed;
    bottom:0;
    left:0;
    width:auto;
    height:auto;
    z-index:100;
    border-radius:5px;
    font-size:13px;
    cursor:pointer;
    font-family:'Ubuntu'
}
@media(min-width:861px) {
    .live2d-tool {
    border-radius:0 5px 5px 0;
    width:35px;
    left:-17px;
    color:white;
    font-size:13px;
    padding:5px 0;
    padding-top:5px;
    padding-right:0;
    padding-bottom:5px;
    padding-left:17px;
    font-weight:bold;
    z-index:99;
    visibility:visible;
    writing-mode:vertical-rl;
    transiton-property:left,bottom;
    transition-duration:.5s,.5s
}
.live2d-tool:hover {
    left:0
}
}@media(max-width:860px) {
    .live2d-tool {
    padding:0 5px
}
}@media screen and (-webkit-min-device-pixel-ratio:0) {
    .isWebKit .live2d-tool {
    position:fixed;
    left:0;
    width:auto;
    height:auto;
    z-index:100;
    border-radius:5px;
    font-size:13px;
    cursor:pointer
}
@media(min-width:861px) {
    .isWebKit .live2d-tool {
    border-radius:0 5px 5px 0;
    width:35px;
    margin-left:-35px;
    color:white;
    font-size:13px;
    padding:5px 0;
    padding-top:5px;
    padding-right:0;
    padding-bottom:5px;
    padding-left:17px;
    font-weight:bold;
    z-index:99;
    writing-mode:vertical-rl;
    transiton-property:margin-left,bottom;
    transition-duration:.5s,.5s
}
.isWebKit .live2d-tool:hover {
    margin-left:-17px
}
}
}
@supports(-ms-ime-align:auto) {
    .live2d-tool {
    margin-left:0;
    left:-17px;
    transiton-property:left,bottom
}
.live2d-tool:hover {
    margin-left:0
}
}.live2d-tool .keys {
    position:relative
}
.hide-live2d {
    visibility:visible
}
.switch-live2d {
    visibility:hidden
}
.save-live2d {
    visibility:hidden
}
@media(min-width:861px) {
    .hide-live2d {
    background-color:orange;
    bottom:156px;
    visibility:visible;
    min-height:38.75px
}
.switch-live2d {
    background-color:#f7bb4d;
    bottom:105px;
    visibility:visible;
    min-height:51px
}
.save-live2d {
    background-color:#eed099;
    bottom:66px;
    visibility:visible;
    min-height:39.3px
}
}.hide-live2d-tool {
    bottom:15px
}
.aplayer-miniswitcher,.ap-hover,.live2d-tool,.aplayer-icon {
    border-radius:0 6px 6px 0 !important
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden
}
.video-container embed,.video-container iframe,.video-container object {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
#Snow {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99999;
    background:rgba(125,137,95,0);
    pointer-events:none
}
#night-mode-cover {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99999;
    background:rgba(86,86,86,.2);
    pointer-events:none;
    visibility:hidden
}
.changeSkin {
    position:fixed;
    bottom:0;
    right:-600px;
    width:auto;
    height:auto;
    z-index:99;
    font-family:'Ubuntu';
    padding:10px 20px;
    transiton-property:right;
    transition-duration:.3s,.3s
}
.changeSkin .keys {
    position:relative;
    z-index:99
}
.changeSkin .keys span {
    cursor:pointer
}
.changeSkin-gear {
    position:fixed;
    bottom:-999px;
    right:5px;
    width:auto;
    height:auto;
    z-index:99;
    visibility:hidden;
    white-space:nowrap;
    padding:10px 10px;
    cursor:pointer;
    border-radius:10px 10px 0 0
}
.changeSkin .keys {
    position:relative;
    z-index:99
}
.changeSkin .keys span {
    cursor:pointer
}
.changeSkin .close-skinMenu {
    position:relative;
    z-index:99;
    cursor:pointer
}
.keys-line-add {
    text-align:right;
    margin-right:22px
}
@media(max-width:800px) {
    .changeSkin-gear span::before {
    content:""
}
.changeSkin i {
    font-size:20px
}
.changeSkin-gear i {
    font-size:20px
}
}position:relative;
    z-index:99;
    cursor:pointer
}
.changeSkin-gear span:before {
    content:"切换主题 | Change Skin "
}
@media(max-width:800px) {
    .changeSkin-gear span::before {
    content:""
}
.changeSkin i {
    font-size:20px
}
.changeSkin-gear i {
    font-size:20px
}
}.img-preload {
    visibility:hidden;
    width:0;
    height:0
}
@-webkit-keyframes rotating {
    from {
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg)
}
to {
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg)
}
}@keyframes rotating {
    from {
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg)
}
to {
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg)
}
}.rotating {
    -webkit-animation:rotating 3s linear infinite;
    -moz-animation:rotating 3s linear infinite;
    -ms-animation:rotating 3s linear infinite;
    -o-animation:rotating 3s linear infinite;
    animation:rotating 3s linear infinite
}
.inline-block {
    display:inline-block
}
.block {
    display:block
}
.center-text {
    margin:auto;
    font-family:'Ubuntu',sans-serif;
    font-size:80px;
    text-transform:uppercase
}
.glitch {
    position:relative;
    color:white;
    mix-blend-mode:lighten
}
.glitch:before,.glitch:after {
    content:attr(data-text);
    position:absolute;
    top:0;
    width:100%;
    background:rgba(0,0,0,0);
    clip:rect(0,0,0,0)
}
.glitch:before {
    left:-1px;
    text-shadow:1px 0 #ff3f1a
}
.glitch:after {
    left:1px;
    text-shadow:-1px 0 #00a7e0
}
.glitch:hover:before {
    text-shadow:4px 0 #ff3f1a;
    animation:glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}
.glitch:hover:after {
    text-shadow:-5px 0 #00a7e0;
    animation:glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}
@-webkit-keyframes glitch-loop-1 {
    0% {
    clip:rect(36px,9999px,9px,0)
}
25% {
    clip:rect(25px,9999px,99px,0)
}
50% {
    clip:rect(50px,9999px,102px,0)
}
75% {
    clip:rect(30px,9999px,92px,0)
}
100% {
    clip:rect(91px,9999px,98px,0)
}
}@keyframes glitch-loop-1 {
    0% {
    clip:rect(36px,9999px,9px,0)
}
25% {
    clip:rect(25px,9999px,99px,0)
}
50% {
    clip:rect(50px,9999px,102px,0)
}
75% {
    clip:rect(30px,9999px,92px,0)
}
100% {
    clip:rect(91px,9999px,98px,0)
}
}@-webkit-keyframes glitch-loop-2 {
    0% {
    top:-1px;
    left:1px;
    clip:rect(65px,9999px,119px,0)
}
25% {
    top:-6px;
    left:4px;
    clip:rect(79px,9999px,19px,0)
}
50% {
    top:-3px;
    left:2px;
    clip:rect(68px,9999px,11px,0)
}
75% {
    top:0;
    left:-4px;
    clip:rect(95px,9999px,53px,0)
}
100% {
    top:-1px;
    left:-1px;
    clip:rect(31px,9999px,149px,0)
}
}@keyframes glitch-loop-2 {
    0% {
    top:-1px;
    left:1px;
    clip:rect(65px,9999px,119px,0)
}
25% {
    top:-6px;
    left:4px;
    clip:rect(79px,9999px,19px,0)
}
50% {
    top:-3px;
    left:2px;
    clip:rect(68px,9999px,11px,0)
}
75% {
    top:0;
    left:-4px;
    clip:rect(95px,9999px,53px,0)
}
100% {
    top:-1px;
    left:-1px;
    clip:rect(31px,9999px,149px,0)
}
}.bb-comment {
    border:1px solid #fb7299;
    min-width:30px;
    display:inline-block;
    text-align:center;
    font-size:12px;
    color:#fb7299;
    border-radius:3px;
    font-weight:400
}
.itempic {
    min-height:280px;
    max-height:300px;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover
}
.finish-icon-container {
    font-size:1rem;
    display:-webkit-box;
    display:box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    box-align:center;
    -webkit-align-items:center;
    align-items:center
}
.finish-icon-text {
    margin-right:8px
}
.finish-icon {
    vertical-align:text-bottom
}
progress {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
    background-size:auto;
    height:24px;
    width:100%
}



.site-footer {
    padding:2%;
    background:rgba(255,255,255,.8);
    max-width:800px;
    margin-left:auto;
    margin-right:auto
}
.site-info {
    text-align:center;
    font-size:13px;
    color:#b9b9b9
}
.site-info a {
    color:#b9b9b9
}
.site-info a:hover {
    color:orange
}
.footertext p {
    margin-bottom:8px
}
.footertext .foo-logo {
    width:30px;
    height:30px;
    opacity:.3;
    margin:0 auto;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    animation:poi-deg 12s infinite linear;
    -webkit-animation:poi-deg 12s infinite linear
}
.site-statistics {
    display:none
}
.entry-content .begin,.single-begin {
    float:left;
    font-size:3.6em;
    line-height:1em;
    margin-right:3px;
    margin-top:2px;
    font-weight:bold
}
.poem-wrap {
    position:relative;
    width:730px;
    max-width:80%;
    border:2px solid #797979;
    border-top:0;
    text-align:center;
    margin:80px auto
}
.poem-wrap h1 {
    position:relative;
    margin-top:-20px;
    display:inline-block;
    letter-spacing:4px;
    color:#797979
}
.poem-wrap p {
    width:70%;
    margin:auto;
    line-height:30px;
    color:#797979
}
.poem-wrap p#poem {
    font-size:25px
}
.poem-wrap p#info {
    font-size:15px;
    margin:15px auto
}
.poem-border {
    position:absolute;
    height:2px;
    width:27%;
    background-color:#797979
}
.poem-right {
    right:0
}
.poem-left {
    left:0
}
@media(max-width:685px) {
    .poem-border {
    width:18%
}
}@media(max-width:500px) {
    .poem-wrap {
    margin-top:60px;
    margin-bottom:20px;
    border-top:2px solid #797979
}
.poem-wrap h1 {
    margin:20px 6px
}
.poem-border {
    display:none
}

.pattern-attachment-img {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-origin:border-box;
    width:100%;
    height:400px
}



